@font-face {
  font-family: "haymakerregular";
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blanchcaps_inline';
  src: url('./fonts/blanch_caps_inline-webfont.eot');
  src: url('./fonts/blanch_caps_inline-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/blanch_caps_inline-webfont.woff') format('woff'),
       url('./fonts/blanch_caps_inline-webfont.ttf') format('truetype'),
       url('./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline') format('svg');
  font-weight: normal;
  font-style: normal;
}
